.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.canvas {
  /* border: 1px solid black; */
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.atributes-circ {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  visibility: hidden;
}

.atributes-rec {
  border: 1px solid black;
  width: 300px;
  height: 220px;
  visibility: hidden;
  margin-top: 5px;
}

h4 {
  text-align: center;
}

h5 {
  margin: 10px;
}

.color {
  margin-left: 10px;
}

canvas {
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  font-size: 45px;
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  text-decoration: none;
}
